// Define variables for your color scheme

// For example:
$gold: #ECA809;
$lightgrey: #F7F3F0;
$lightgreen: #69B09C;
$orange: #FFA08A;
$darkgreen: #253334;
$black: #000000;
$white: #FFFFFF;
$grey: #C4C4C4;
$mediumgreen: #7C9A92;
$blue : #95CBCF;
