// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// Define fonts for body and headers
$body-font: 'Quicksand', "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// pour les titres de card et show
body {
  font-family: 'Quicksand';
}

h1 {
  font-size: 18px;
}


p {
  font-size: 16px;
}

// nom de catégorie et texte navbar secondaire
// sous-titre de la show challenge
h2 {
  font-size: 14px;
}

// texte accompagnant les pictos
subtitle {
  font-size: 14px;
}

