
.challenge-show {
  width: 100vw;
  height: calc(100vh - 50px);
  position: relative;
  left: -16px;
  padding: 24px;
  background: $white;
}

.challenge-show h1 {
  text-align: center;
}

.challenge-show h2 {
  font-style: bold;
}

.compulsory-info {
  background-color: $lightlightgreen;
  border-radius: 15px;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.other-info {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.challenge-show-action {
  text-align: center;
  display-align: flex;
}

.tips {
  border: solid 1px #D2E1DD;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
