.clan-points{
  color: $gold;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.members-list ul li {
  color: $white;
  list-style-type: none;
  margin: 15px;
  padding-bottom: 15px;
}

.members-list ul {
  padding-left: 15px;
  padding-right: 15px;
}

.info-member {
height: 10px;
}

.info-member h2 {
margin-bottom: 0px;
font-weight: bold;
}

.info-member subtitle {
font-size: 10px;
font-weight: none;
}

#activities-index .page-title {
  text-align: center;
  color: $gold;
  font-size: 30px;
}
