.clan-points{
  color: $gold;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.clan-points p {

}

.members-list ul li {
  color: $white;
  list-style-type: none;
  margin: 15px;
}

.card-member {
}

.info-member {

}

.member-order {

}
