// Specific CSS for your home-page

.first-div-hp {
  text-align: center;
  padding-top: 40px;
}

.incentive-fact {
  margin: 15px 10px 15px 10px;
  padding: 15px;
  border-radius: 20px;
  background: $lightlightgreen ;
}

.incentive-fact p {
  margin-left: 10px;
  margin-bottom: 0px;
  color: black;
}

.hp-box-challenge {
  margin: 15px 10px 15px 10px;
  background: #F7F3F0;
  border: solid 2px;
  border-color: $gold;
  padding: 25px;
  border-radius: 20px;
}


.hp-box-challenge p {
  font-size: 18px;
}

.card-invitation {
  border: solid 2px;
  border-color: $gold;
}

#pages-home h1 {
  margin-bottom: 30px;
}
