.label-badge {
    width: 103px;
}

.user-level {
  color: $gold;
}

#users-show .user-container {
  margin-top: 40px;
  padding: 16px 16px 0px 16px;
}

.user-score p {
  color: white;
}

.user-no-challenge {
  margin: 90px 0px;
}

.user-no-challenge h1 {
  font-size: 23px;
  color: white;
  padding: 40px 40px 0 40px;
}
