// Card pour la show des user-challenges

.card-show {
  background-color: $lightgrey;
  margin: 0px 15px 60px;
  padding: 15px 15px 30px;
  border-radius: 20px;
  color: $darkgreen;
}

.card-show h1 {
  text-align: center;
  margin: 0px 10px 10px 10px;
}

// Bouton pour expand le contenu

.know-more {
  color: $gold;
  text-align: center;
  display: block;
  &.collapsed {
    transition: margin-bottom .7s ease-out;
  }
  &:not(.collapsed) {
    margin-bottom: 20px;
    transition: none;
  }
  &:visited,
  &:hover {
    color: $gold;
  }
}

// Compteur des user-challenges acceptés

.user-challenge-count {
  background: $lightgrey;
  color: $darkgreen;
  border-radius: 50%;
  padding: 9px 10px 31px 10px;
  display: inline;
  position: absolute;
  top: 20px;
  right: 33px;
  height: 32px;
}

// Semaine de sélection des challenges

.current-week {
  color: $lightgrey;
  margin-left: 15px;
  margin-bottom: 40px;
  padding-top: 25px
}

// Groupement des bouttons de sélection

.buttons {
  text-align: center;
  position: fixed;
  bottom: 65px;
  width: 50%;
  // background: #253334;
  background: #303f40e0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px
}


// Page de fin de sélection

.seed {
    color: goldenrod;
}

.golden-title {
  color: goldenrod;
  font-size: 30px;
}

