<div class="end-container">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <h1 class="text-center golden-title"> La sélection est terminée </h1>
    <div class="display-1 text-center mt-3">
      <span class="iconify seed " data-icon="tabler:seeding" data-inline="false"></span>
    </div>

    <%= link_to "Retour", user_challenges_url(@user_challenges), class: "button-gold mt-5" %>
</div>
