<% leaves = Array.new(3) { render 'shared/empty_leaf' } %>
<% level.times do |n| %>
  <% leaves[n] = '<i class="fas fa-leaf"></i>' %>
<% end %>
<div class="difficulty">
  <%= leaves.join.html_safe %>
</div>


