<div class="switch-button">
  <span class="active"></span>
  <%= link_to "Classement", clan_path(current_user.clan), class: "switch-button-case right" %>
  <%= link_to "Activités", clan_activities_path(current_user.clan), class: "switch-button-case right" %>
</div>

