<div class="switch-button">
  <span class="active"></span>
  <button class="switch-button-case left active-case">Défis en cours</button>
  <button class="switch-button-case right">Défis favoris</button>
</div><a class="signature" href="http://vanderlanth.io" target="_blank">Made with ♥ by vanderlanth</a>
