<div class="navbar-seed">
  <%= link_to root_path, class:"navbar-element" do %>
    <i class="fa fa-home"></i>
    <subtitle> Accueil </subtitle>
  <% end %>
  <%= link_to root_path, class:"navbar-element" do %>
    <i class="fas fa-seedling"></i>
    <subtitle>Défis</subtitle>
  <% end %>
  <%= link_to root_path, class:"navbar-element" do %>
    <i class="fas fa-seedling"></i>
    <subtitle>Clan</subtitle>
    </div>
  <%= link_to root_path, class:"navbar-element" do %>
    <i class="fas fa-user"></i>
    <subtitle>Profil</subtitle>
  <% end %>
</div>
