<div class="switch-button">
  <span class="active"></span>
  <button class="switch-button-case left active-case">Classement</button>
  <button class="switch-button-case right">Actualités</button>
</div>
