<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "J'abandonne", root_path, class:"button button-fail"  %>
<%= link_to "Yeah, terminé !", root_path, class:"button button-success"  %>

<%= link_to root_path, class:"button-arrow" do  %>
  <i class="fas fa-arrow-left"></i>
<% end %>
