<div class="landing-container">
  <div class="landing-content">
    <i class="fas fa-seedling fa-3x" style="color:white"></i>
    <h1>SeedOfChange</h1>
    <p>Défie tes amis et sois le plus éco-responsable du clan !</p>
    <%= link_to "Je me lance !", root_path, class:"button button-success button-landing" %>
  </div>
</div>
