<div class="no_clan">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <div class="display-1 text-center mt-3">
    <span class="iconify seed " data-icon="tabler:seeding" data-inline="false"></span>
  </div>
  <h1 class="text-center golden-title"> Tu ne fais pas encore partie d'un clan ? <br><br> Fais-toi inviter par un de tes amis ou crée le tien ! </h1>
</div>


