.alert {
  position: fixed;
  bottom: 10px;
  right: 5px;
  width: 95%;
  height: 150px;
  z-index: 1000;
  font-size: 19px;
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
}

.alert-info {
  background: $lightgreen;
  color: $lightgrey;
}

.alert-warning {
  background: $orange;
  color: $lightgrey;
}
