.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

#challenges-show .avatar {
  margin-left: -10px;
  width: 30px;
  height: 30px;
}

#user_challenges-show .avatar {
  margin-left: -10px;
  width: 30px;
  height: 30px;
}

.avatars {
  display: flex;
  p {
    background: $lightgreen;
    color: white;
    padding: 5px 5px 5px 8px;
    font-size: 14px;
    font-weight: bold;
  }
}
