.button {
  height: 45px;
  padding: 10px 22px;
  border-radius: 20px;
  opacity: 1;
}

.button-fail {
  background: $orange;
}

.button-success {
  background: $lightgreen;
}

.button-arrow {
  background: $lightgrey;
  color: $darkgreen;
  border-radius: 50%;
  padding: 3px 5px;
}

.button-arrow:active {
  color: $gold;
}
