.button {
  height: 45px;
  padding: 10px 22px;
  border-radius: 20px;
  opacity: 1;
}

.button-fail {
  background: $orange;
}

.button-add {
    display: flex;
    background: #ECA809;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    align-items: center;
    justify-content: center;
    color: $darkgreen;
}

.button-success {
  background: $lightgreen;
}

.button-arrow {
  background: $lightgrey;
  color: $darkgreen;
  border-radius: 50%;
  padding: 3px 5px;
}

.button-arrow:active {
  color: $gold;
}
