//All
.text-gold {
  color: $gold;
}

// Cards dans l'index des challenges
.challenges-cards {
  margin-top: 35px;
}

.card-challenge {
  margin: 10px;
  border-radius : 20px;
  background-color: $lightgrey;
  padding: 10px;
}

.card-challenge a {
  text-decoration: none;
  color: #212529;
}

.card-challenge h1 {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.no-challenge {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 68%;
}

.no-challenge p {
  color: $lightgrey;
  font-size: 23px;
  text-align: center;
}

.user-card p, .user-card h2 {
  margin: 0;
}

.score {
  font-size: 50px;
  line-height: 80%;
  color: $gold !important;
}


// Cards du Clan
.card-clan {
  border-radius : 20px;
  padding-left : 10px;
  width: 100%;
  margin: 0px 10px;
}

.current-user {
  background-color: $mediumgreen;
  color: $white;
  padding : 10px 0 10px 10px;
  border-radius: 15px;

}


// Card invitation Clan

.card-invitation {
  border-radius : 20px;
  background-color: $lightgrey;
  padding: 20px 20px 0 20px;
  margin: 15px 10px 15px 10px;
}


