.challenges-cards {
  margin-top: 80px;
}

.card-challenge {
  margin: 10px;
  border-radius : 20px;
  background-color: $lightgrey;
  padding: 10px;
}

.card-challenge h1 {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.label {
  border-radius: 20px;
  padding: 3px 10px;
  display: table;
  color: $lightgrey;
}

.label-alimentation {
  background-color: #98D4D9;
}

.label-divers {
  background-color: #7EE4B3;
}

.label-techno {
  background-color: #C7B2D8;
}

.label-cosmetique {
  background-color: #98D4D9;
}

.label-menager {
  background-color: #C4E36A;
}

.card-challenge a {
  text-decoration: none;
  color: #212529;
}

.no-challenge {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 68%;
}

.no-challenge p {
  color: $gold;
  font-size: 32px;
  text-align: center;
}
