.custom-container {
  padding-bottom: 50px;
}

.mobile-container {
  width: 375px;
  height: 670px;
}

.user-container h1 {
  color: $white;
  font-size: 30px;
}

.end-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
