#sessions-new .custom-container{
  padding: 50px;
}

#registrations-new .custom-container{
  padding: 20px 20px 50px 20px;
}

#sessions-new h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;

}

#registrations-new h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.devise-links {
  color: $mediumgreen;
  margin-top: 10px;
}


.form-signin {
  padding: 20px;
}


.form-group {
  margin-bottom: 10px;
}


.form-inputs label {
  font-size: 16px;
}

.form-control-file, .form-control-range {
  color: white,
}
