.seed {
    color: goldenrod;
}

.gold {
  color: $gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #98521C;
}

.ranking-img {
  position: absolute;
}

.star-icon {
  right: 44px;
  top: -9px;
  position: absolute;
}


.oneLeaf {
  height: 25px;
  width: 25px;
  object-fit: contain;
}
