// Labels pour les catégories de challenge

.label {
  border-radius: 20px;
  padding: 3px 10px;
  display: table;
}

.label-alimentation {
  background: #98D4D9;
}

.label-divers {
  background: #7EE4B3;
}

.label-techno {
  background: #C7B2D8;
}

.label-cosmetique {
  background: #efe06f;
}

.label-menager {
  background: #C4E36A;
}

.label-courses {
  background: #ffa08a;
}
