// Labels pour les catégories de challenge

.label {
  border-radius: 20px;
  padding: 3px 10px;
  display: table;
  background-color: #abaf9e;
}

.label-alimentation {
  color: #98D4D9;
}

.label-divers {
  color: #7EE4B3;
}

.label-techno {
  color: #C7B2D8;
}

.label-cosmetique {
  color: #98D4D9;
}

.label-menager {
  color: #C4E36A;
}
