.navbar-seed {
  height: 40px;
  color: $lightgrey;
  display: flex;
  justify-content: space-around;
  position: sticky;
}

.navbar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
