// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Graphical variables
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/fonts";

// Your CSS partials
@import "components/index";
@import "pages/index";

